.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
R/info
exemplo.excalidraw
R/collatzSeq.R
var.html
R/Code Explain/Exercise25/Exercise25.aux
R/Code Explain/Exercise25/Exercise25.fdb_latexmk
R/Code Explain/Exercise25/Exercise25.fls
R/Code Explain/Exercise25/Exercise25.log
R/Code Explain/Exercise25/Exercise25.synctex.gz
